<?xml version="1.0" encoding="UTF-8"?>
<module>
    <rawname>customcdrstats</rawname>
    <name>Custom CDR Stats</name>
    <namespace>Customcdrstats</namespace>
    <version>14.0.57</version>
    <type>tool</type>
    <license>GPLv3+</license>
    <category>Reports</category>
    <description>Простая и быстрая статистика звонков.</description>
    <publisher>telephonization.ru</publisher>
    <menuitems>
        <customcdrstats requires_auth="true">Custom CDR Stats</customcdrstats>
    </menuitems>
    <supported>
        <version>17.0</version>
    </supported>
</module>